body{
    overflow-x: hidden;
    margin: 0;
    height: auto;
}

.sidebar {
  align-self: center;
  display: flex;
  flex-direction: column;
  background: #0365c0;
  padding: 0.75rem 0.5rem;
  border-radius: 1.25rem;
  width: 3.75rem;
  align-items: center;
  margin: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0,0,0,0.1);
  transition: width 0.3s ease;
  position: fixed;
  left: 1;
  top: 25%;
}
/*
.sidebar {
  align-self: center;
  display: flex;
  flex-direction: column;
  background: #0365c0;
  padding: 3vh 3vh;
  min-height: 30vh;
  border-radius: 1.25rem;
  width: 7vh;
  min-width: 6vh;
  align-items: center;
  margin: 0.8vh;
  box-shadow: 0 0 0 2% rgba(0,0,0,0.1);
  transition: width 0.3s ease;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}*/
footer {
  background-color: rgba(0, 0, 0, 0.2); 
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;              
  bottom: 0;                
  left: 0;                  
  z-index: 10;              
}
/*footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  z-index: 10;
}
*/

.icon-button img {
  width: 2.8125rem;
  height: 2.8125rem;
  transition: transform 0.2s, filter 0.2s;
  margin: 0.625rem 0;
}

.icon-button:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0.125rem 0.375rem rgba(0, 0, 0, 0.15));
}

.icon-button:active img {
  transform: scale(0.95);
}

.naslovi {
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: #444;
  margin-top: 0;
  text-align: center;
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.1rem;
  letter-spacing: -0.03125rem;
  text-align: center;
}

.plavi-kontejner {
    background-color: #e0eafc; 
    border-left: 0.5rem solid #3d7ad6; 
    padding: 2rem; 
    margin-bottom: 2rem; 
    border-radius: 0.8rem; 
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);  
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    align-self: center;
}


.plavi-kontejner h2 {
    margin-top: 0; 
    color: #003366; 
}


.plavi-kontejner p {
    line-height: 1.6; 
}

.weather-report{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;
  width: 60%;
}


#vrijeme-slika{
  scale: 5;
}
