*.naslovna-stranica {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body.naslovna-stranica {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px; /* baza za rem */
  
}

body.naslovna-stranica {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.navbar {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  flex-shrink: 0;
  position: absolute;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0.5rem 1rem;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.mapa-kontejner {
  position: relative;
  width: 100%;
  height: 43.125rem; /* 690px */
  overflow: hidden;
}

.mapa-slika {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
  user-select: none;
  pointer-events: none;
  display: block;
}

.mapa-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.3)); 
  z-index: 1;
  pointer-events: none; 
}

.map-icon {
  position: absolute;
  font-size: 1.75rem;
  color: lightskyblue;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  scale: 1;
  transition: 0.35s ease-in-out;
  z-index: 10;
}

.map-icon:hover  { 
  scale: 1.1;
  transition: 0.35s ease-in-out;
}

.icon-1 { top: 50%; left: 65%; }
.icon-2 { top: 58%; left: 37%; }
.icon-3 { top: 30%; left: 30%; }
.icon-4 { top: 80%; left: 30%; }
.icon-6 { top: 78%; left: 59%; }

footer {
  background-color: rgba(0, 0, 0, 0.2); 
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;              
  position: absolute;       
  bottom: 0;                
  left: 0;                  
  z-index: 10;              
}

#naslov {
  position: absolute;
  z-index: 10;
  font-weight: 900;
  text-align: right;
  font-size: 5rem;
  line-height: 1;
  top: 4%; 
  right: 2%;
  font-family: "Lato", sans-serif;
}

h6 {
  position: absolute;
  top: -140%;
  left: 54%;
  color: aqua;
  z-index: 10;
  font-weight: 900;
  text-align: right;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
}

#aboutRijeka {
  position: absolute;
  z-index: 10;
  font-weight: 500;
  text-align: right;
  font-size: 1.3rem;
  line-height: 0.9;
  top: 6%; 
  left: 2%;
  font-family: 'Courier New', Courier, monospace;
}